//Color
$background: #dce8f0;
$section-background: #eaf2fa;
$paragraph-color: #7a5649;
$subtitlle-color: rgb(179, 173, 173);



//letter-sizes
$tablet: 768px;
$desktop: 992px;
$movile: 414px;

//margin
$navigation-margin: 20px;

//Sizes
$navigation-size: 10px;
$paragraph-size: 12px;
$title-size: 20px;
$subtitlle-size: 16px;
